<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card black my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">Kundenübersicht</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="customer-list" class="btn btn-success">Kundendaten</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="customer-add" class="btn btn-success">Kundentermine</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Name</th>
    <td>{{ customer.name }} <div *ngIf="isShow" style="width: 400px;">
      <form [formGroup]="newName" (ngSubmit)="onSubmit()" novalidate>

        <div class="form-group">
          <label for="name"></label>
          <input type="text" placeholder="Bitte neuen Namen eingeben" class="form-control"
                 formControlName="aNewName"
                 id="name"
                 name="test"
                 required [(ngModel)]="customer.name">
          <div class="alert alert-danger" *ngIf="formSubmitAttempt">
            <div *ngIf="newName.get('name').hasError('required')">
              Bitte Namen eingeben!
            </div>
          </div>
        </div>
        <button type="submit" (click)="updateName()" class="btn btn-small">Änderung bestätigen</button>
      </form>
    </div></td>
    <td><button type="submit" (click)="toggleDisplay()" class="btn btn-small">Update</button></td>
  </tr>
  <tr>
    <th scope="row">Vorname</th>
    <td>{{ customer.firstName }}</td>
    <td><button type="submit" routerLink = "/customer-details" class="btn btn-small">Update</button></td>
  </tr>
  <tr>
    <th scope="row">Straße</th>
    <td>{{ customer.street }}</td>
    <td><button type="submit" routerLink = "/customer-details" class="btn btn-small">Update</button></td>
  </tr>
  <tr>
    <th scope="row">Hausnummer</th>
    <td>{{ customer.houseNumber }}</td>
    <td><button type="submit" routerLink = "/customer-details" class="btn btn-small">Update</button></td>
  </tr>
  <tr>
    <th scope="row">Postleitzahl</th>
    <td>{{ customer.postalCode }}</td>
    <td><button type="submit" routerLink = "/customer-details" class="btn btn-small">Update</button></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td>{{ customer.email }}</td>
    <td><button type="submit" routerLink = "/customer-details" class="btn btn-small">Update</button></td>
  </tr>
  <tr>
    <th scope="row">Telefonnummer</th>
    <td>{{ customer.phoneNumber }}</td>
    <td><button type="submit" routerLink = "/customer-details" class="btn btn-small">Update</button></td>
  </tr>

  </tbody>
</table>

