<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<h1>KUNDENVERWALTUNG 1.0 BY ALEX SCHWARCK</h1>

<button onclick="myFunction()">Kundenliste</button></body></br>
<p id="demo"></p>
<button onclick="myFunction()">Termine</button></html></br>
<p></p>
<button onclick="myFunction()">Rechnungen</button>
<p></p>
<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Hello World";
}
</script>
</body>
</html>
